<header>
  <!-- Navagation bar: left has alternate menu, middle is the name of company,
        right has the search bar and sign in button when past the header div -->
  <nav id="navbar" class="navbar">

      <!-- need to add dropdown menu item (*optional*) -->
      <span class="navitem navmenu"><i class="fa fa-bars" aria-hidden="true"></i></span>
      <a class="header-home" href="/"><span class="navitem middle">CHASE</span></a>
      <span class="navitem right"><a href="/signIn"><button type="button">Sign in</button></a></span>
      <span class="navitem right hidden"><a href="#"><button type="button">Sign Out</button></a></span>
      <span class="navitem right"><i class="fa fa-search" aria-hidden="true"></i></span>

  </nav>
</header>
