<header>
  <!-- Navagation bar: left has alternate menu, middle is the name of company,
        right has the search bar and sign in button when past the header div -->
  <nav class="navbar">
    <ul class="navlist">
      <!-- need to add dropdown menu item (*optional*) -->
      <li class="navitem navmenu"><i class="fa fa-bars" aria-hidden="true"></i></li>
      <li class="navitem middle">CHASE</li>
      <li class="navitem right"><a href="#"><button type="button">Sign in</button></a></li>
      <li class="navitem right"><i class="fa fa-search" aria-hidden="true"></i></li>
    </ul>
  </nav>
</header>
