<div class="social-media">Follow us:
  <a href="https://www.facebook.com/chase" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
  <a href="https://www.instagram.com/chase/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  <a href="https://twitter.com/Chase" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  <a href="https://www.youtube.com/chase" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
  <a href="https://www.linkedin.com/company/chase?trk=company_logo" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
  <a href="https://www.pinterest.com/chase/" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
</div>
