{{!--{{>globalHeader}}--}}

{{>accountHeader}}

<aside id="overview">
  <div class="checking-acc">
    <div class="overview-title">TOTAL CHECKING</div>
    <div class="acc-balance bottom-right">{{accounts.0.checkings.0.balance}}</div>
    <p class="acc-balance-label">Available balance</p>
  </div>

  <!--Check to see if user has a savings acc -->
  <div class="savings-acc">
    <div class="overview-title">TOTAL SAVINGS</div>
    <div class="acc-balance bottom-right">{{accounts.1.savings}}</div>
    <p class="acc-balance-label">Available balance</p>
  </div>
</aside>

<div id="account">
  <div class="acc-info">
    <div class="overview-title">TOTAL CHECKING</div>
    <p class="acc-balance-label">{{accounts.0.checkings.0.balance}}</p>
    <div class="acc-balance">Some database value</div>
  </div>

  <div class="acc-transactions">
    <div class="transaction-header">
      <div class="transaction-filter-container">
        <div class="transaction-view">Showing: All Transactions</div>

        <!--
        <label for="transaction-filter-type">Transaction</label>
        <select id="transaction-filter-type" class="transaction-filter-input" name="transaction-filter-type">
          <option selected value="">Any Transaction</option>
          <option>idk</option>
          <option>idk</option>
        </select>
      -->
      </div>
    </div>

    <div class="transaction-table">
      <table class="acc-history-table">
        <tr>
          <th>Description</th>
          <th>Type</th>
          <th>Amount</th>
        </tr>

          {{#each accounts.checkings}}
            {{#unless balance}}
              {{>accountActivity}}
            {{/unless}}
          {{/each}}

      </table>
    </div>
  </div>
