{{!--{{>globalHeader}}--}}

{{>accountHeader}}

<aside id="overview">
  <div class="account-card focused-account" id="checking-acc-card">
    <div class="overview-title">TOTAL CHECKING</div>
    <div class="acc-balance bottom-right">${{checkings}}</div>
    <p class="acc-balance-label">Available balance</p>
  </div>

  <!-- Show if savings exists -->
  <!--
  <div class="savings-acc">
    <div class="overview-title">TOTAL SAVINGS</div>
    <div class="acc-balance bottom-right">{{savings}}</div>
  -->
  <!--Check to see if user has a savings acc -->
  <!--
  <div class="account-card" id="savings-acc-card">
    <div class="overview-title" >TOTAL SAVINGS</div>
    <div class="acc-balance bottom-right">Some database value</div>

    <p class="acc-balance-label">Available balance</p>
  </div>
-->
</aside>

<!-- Below should be account info, like name and address -->
<div class='account-main-wrapper'>
  <div id="account">
    <div class="acc-info">
      <div class="overview-title">TOTAL CHECKING</div>

      <!--  elements below here => should their inner content be swapped? -->
      <p class="acc-balance-label">{{accounts.0.checkings.0.balance}}balance</p>
      <div class="acc-balance">${{checkings}}</div>
    </div>

    <div class="acc-transactions">
      <div class="transaction-header">
        <div class="transaction-filter-container">
          <div class="transaction-view">Showing: All Transactions</div>

          <!--
          <label for="transaction-filter-type">Transaction</label>
          <select id="transaction-filter-type" class="transaction-filter-input" name="transaction-filter-type">
            <option selected value="">Any Transaction</option>
            <option>idk</option>
            <option>idk</option>
          </select>
        -->
        </div>
      </div>

      <div class="transaction-table">
        <table class="acc-history-table">
          <tr>
            <th>Description</th>
            <th>Type</th>
            <th>Amount</th>
          </tr>
          <!--
            used to check stying on table
          <tr>
            <td>Sample Date</td>
            <td>Sample Description</td>
            <td>$200.20</td>
          </tr>

        -->
            {{#each accounts.checkings}}
              {{#unless balance}}
                {{>accountActivity}}
              {{/unless}}
            {{/each}}

        </table>
      </div>
    </div>
  </div>
