{{>globalHeader}}

<div id="sign-up-box">
  <div class="login-body">
    <div class="login-username">
      <label for="username">Username</label>
      <input type="text" id="username"></input>
    </div>

    <div class="login-address">
      <label for="address">Address</label>
      <input type="text" id="address"></input>
    </div>
  </div>

  <div class="login-footer">
    <button type="button" id="sign-up" class="login">Sign up</button>
  </div>
</div>

{{>socialMedia}}

{{>footer}}
