{{>globalHeader}}

<div class="image-wrapper login-header">
  <img class="img-fill" src="https://images.fineartamerica.com/images-medium-large-5/lake-winnepasaukee-canoe-skip-willits.jpg" alt="background image">
</div>

<div id="sign-up-box">
  <div class="login-body">
    <div class="login-username">
      <label for="username" class='hidden'>Username</label>
      <input type="text" class='login-input' placeholder="Username" id="username"></input>
    </div>

    <div class="login-address">
      <label for="address" class='hidden'>Address</label>
      <input type="text" class='login-input'placeholder="Address" id="address"></input>
    </div>
  </div>

  <div class="login-footer">
    <button type="button" id="sign-up" class="login">Sign up</button>
    <a id="sign-in" class="login-help" href="/signIn">Already signed up? Sign in.></a>
  </div>
</div>


{{>socialMedia}}

{{>footer}}
