<div class="image-wrapper login-header">
  <img class="img-fill" src="https://images.fineartamerica.com/images-medium-large-5/lake-winnepasaukee-canoe-skip-willits.jpg" alt="background image">
</div>
{{>globalHeader}}

<div id="sign-in-box">
  <div class="login-body">
    <div class="login-username">
      <label for="username">Username</label>
      <input type="text" placeholder="Username" id="username"></input>
    </div>
  </div>

  <div class="login-footer">
    <button type="button" id="login" class="login blue">Sign in</button>
    <a id="sign-up" class="login-help" href="/signUp">Not enrolled? Sign up now. ></a>
  </div>
</div>

{{>socialMedia}}

{{>footer}}
